body,
h3,
h4,
p {
  color: rgb(18, 3, 18);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: rgb(249, 223, 226);
}

.jumbotron {
  background-color: lightpink;
}

.r2a {
  border: 1px solid rgb(133, 216, 212);
  padding-left: 10rem;
  text-align: right;
}

.btn-primary {
  background-color: rgb(133, 216, 212);
}

#buttons-view,
#city-input {
  margin-top: 0.1rem;
  border: 1px solid rgb(133, 216, 212);
}

.list-group-item {
  background-color: rgb(158, 224, 220);
}

.card {
  background-color: rgb(133, 216, 212);
}

.card-body {
  padding: 0.5rem;
}

img {
  width: 30%;
  height: 10%;
}

.card-text {
  font-size: 13pt;
}

.uvGreen {
  background-color: lightgreen;
  border-radius: 3px;
}

.uvYellow {
  background-color: lightyellow;
  border-radius: 3px;
}

.uvOrange {
  background-color: lightsalmon;
  border-radius: 3px;
}

.uvRed {
  background-color: palevioletred;
  border-radius: 3px;
}

.uvPurple {
  background-color: violet;
  border-radius: 3px;
}
